<h1>{{series.title}}</h1>
<p>{{series.plot}}</p>
<p>{{series.actors}}</p>
<img src={{series.image}} alt="">


{{#if showWishlist}}
{{#if addWishlist}}
<form action="/private/add-favorites" method="POST">
  <input type="hidden" name="seriesID" value="{{series._id}}">
  <button type="submit"><i class="far fa-heart"></i></button>
</form>
{{/if}}
{{!-- Game added to user wishlist --}}
{{#unless addWishlist}}
<form action="/private/add-favorites" method="POST">
  <input type="hidden" name="seriesID" value="{{series._id}}">
  <button type="submit"><i class="fas fa-heart"></i></button>
</form>
{{/unless}}
{{/if}}