<h1>Welcome {{user.username}}</h1>



<a class="nav-link" href="/auth/logout">Logout</a>

</div>
<h3>Favorites</h3>

<div class="cards">
{{#each user.favorites}}

 

  <a href="/private/series/{{id}}">
  <div  class="card" style="width: 18rem;">
    <img src="{{image}}" class="card-img-top" alt="...">
   
      
     
      
  </div>
  </a>

{{/each}}
</div>
<div class="cards">
  {{#each user.watchlist}}



  <a href="/private/series/{{id}}">
    <div class="card" style="width: 18rem;">
      <img src="{{image}}" class="card-img-top" alt="...">




    </div>
  </a>

  {{/each}}
</div>


{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="/javascripts/script.js"></script> --}}