<h1>Here's a list of films you will love</h1>

{{#each dramas}}
<h2>{{title}}</h2>
<h3>{{actors}}</h3>
<img src={{image}} alt=>
{{/each}}


{{#each comedies}}
<h2>{{title}}</h2>
<h3>{{actors}}</h3>
<img src={{image}} alt=>
{{/each}}
<a href="/movietitle/details">Movie details</a>