<nav id="nav1" class="navbar navbar-expand-lg  ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/images/Time LY. (4).png" width="200" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/auth/logout">Log Out</a>
        <a class="nav-link" href="/private/profile">Profile</a>
        <a class="nav-link" href="/private/feed">Feed</a>
        <a class="nav-link" href="/private/quiz">Quiz</a>
        <form class="noback" action="/private/search" method="GET">
          <input type="text" name="search">
          <button type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </div>
</nav>


<h1 id= "margin-title">Here is the list we chose for you, {{user.username}}</h1>
<hr class="style-one">

{{#each series}}

<div class="movie_card" id="bright">
  <div class="info_section">
    <div class="movie_header">
      <img class="locandina" src="{{image}}" />
      <h2 id="blanc">{{title}}</h2>
      <h9 id="any">{{year}}</h9>
      <span id="nota" class="minutes">{{rating}}</span>
      <p id="generes"class="type">{{genre}}</p>
    </div>
    <div class="movie_desc">
      <p class="text">
        {{plot}}
      </p>
    </div>
  
  </div>
  <div class="blur_back bright_back"><img src="{{image}}" height = "500" width = "400" style="margin-left: 300px;" alt=""></div>
</div>
{{/each}}



